.f {
    border-radius: 5px;
    background-color: #E5DD6D;
    padding: 20px;
    color:white;
    box-shadow: 10px 10px 10px #000000;
    width:100%
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h3{
	color: #871B58;
}
ul
{
    list-style: none;
    font-size: 20px;
    color: #686868;
    margin-left: -40px;
    margin-bottom: 0px;
}
li
{
    border-bottom: 1px solid#bfbfbf;
    background-color: #d7d7d7;
    padding: 10px 10px 10px 50px;
    margin-bottom: 5px;

}
span
{
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 10px;
}
